<%Seed.order(created_at: :desc).each do |seed|%>
<div class="card m-3">
  <div class="card-body">
    <h3 class="card-text text-center"><%=seed.description%></h3>
  </div>
  <div class="card-footer">
    <span class="text-muted"><%=seed.created_at.strftime('%-d %b - %l:%M%P')%></span>
  </div>
</div>
<%end%>
