<%Seed.order(created_at: :desc).each do |seed|%>
  <div class="card grid-item">
    <div class="card-body">
      <h5 class="card-text text-center"><%=truncate(seed.description, length:100)%></h5>
    </div>
  </div>
<%end%>
