<div class="cover">
  <h1 class="display-1 text-center text-light">forage</h1>
</div>

<div class="postaseed">
  <%= render partial: 'seed/form'%>
</div>

<div class="seedwall d-flex flex-wrap flex-row justify-content-center">
  <%= render partial: 'wall/show'%>
</div>

<script>
  $(document).on('turbolinks:load', function() {
    $('input[name="commit"]').bind('ajax:complete', function(event,xhr,status){
      $(this).val('');
    })

    setInterval(function(){
      $.ajax({
        url: '/reloader',
        method: 'GET',
        dataType: 'html',
        success: function(data) {
          $('.seedwall').html(data)
        }
      });
    }, 10000);
  })
</script>
