<nav class="navbar navbar-light bg-white mb-3">
  <a class="navbar-brand">Forage</a>
  <%= render partial: 'seed/form'%>
</nav>

<div class="seedwall grid container-fluid">
  <%= render partial: 'wall/show'%>
</div>

<script>
$('.grid').packery({
  itemSelector: '.grid-item',
  percentPosition: true,
  gutter: 14.7,
  originTop: true,
  stagger: 30
});
</script>
