<div class="cover">
  <h1 class="display-1 text-center text-light">forage</h1>
</div>

<div class="postaseed">
  <%= render partial: 'seed/form'%>
  <!-- <%=link_to reloader_path, remote: true do %>
  <i class="refresh text-black-50 fas fa-redo"></i>
  <% end %> -->
</div>

<div class="seedwall grid">
  <%= render partial: 'wall/show'%>
</div>

<script>
$('.grid').packery({
  itemSelector: '.grid-item',
  percentPosition: true,
  originTop: true,
  stagger: 30
});
</script>
