<%=form_with scope: :seed, url: seed_index_path, class: 'form-inline d-flex justify-content-center' do |f|%>
  <div class="form-group">
    <%=f.text_field :description, placeholder: 'What do you want plant?', class: 'form-control mr-3'%>
    <%=f.submit "Seed", class: 'btn btn-outline-secondary'%>
  </div>
<%end%>
